<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 관리페이지</title>
</head>
<body>

    <a href="{% url 'abc' %}">일치확인</a>
    <a href="{% url 'timer' %}">타이머</a>
    <h1>코드 정리 사이트</h1>
    <a href="{% url 'new' %}">코드 작성</a>
    <a href="{% url 'wisesaying'%}"> 명언작성 </a>
    <br>

    {% for person in people %}
    <div>
        <h3>
        {{person.name}}
        </h3>
        {{person.pub_date}}
        <br>
        {{person.age}}
        <br>
        {{person.email}}
        <br>
        {{person.summary}}
        <a href="{% url 'detail' person.id %}">더 보기</a>
    </div>
    {% endfor %}
</body>
</html>